<nav class="flex justify-between items-center gap-2 py-4 px-4 bg-white text-black logo fixed w-full z-10">
    <div class="flex items-center gap-2">
        <img src="/download.png" alt="logo" class="w-7 h-7">
        <p class="logo text-xl">
            <a routerLink="/">HealthFit</a>
        </p>
    </div>
    <ul class="flex items-center gap-3 font-black text-sm">
        <li class="p-1">
            <a routerLink="/">HOME</a>
        </li>
        <li class="p-1">
            <a routerLink="/explore">EXPLORE</a>
        </li>
        <li class="bg-purple-100 text-cyan-950 p-2 font-bold rounded">
            <a routerLink="/add-workout" class="flex items-center gap-1">
                <i class="pi pi-plus-circle" style="font-size: 1rem;"></i>
                <span>ADD</span>
            </a>
        </li>
    </ul>
</nav>