<div class="flex bg-white h-[91vh]">
    <!-- LEFT -->
    <div class="hidden lg:block md:w-5/12 xl:w-1/2 absolute top-0 left-0 z-0 image-container">
        <img src="/home.jpg" alt="gym" class="w-full h-full object-cover">
      </div>
    <!-- RIGHT -->
    <div class="translate-x-0 lg:translate-x-[40vw] xl:translate-x-[50vw] text-#45474B mx-4 md:mx-12 mt-24">

        <div class="items-center gap-2 hidden lg:flex">
            <img src="/download.png" alt="logo" class="w-7 h-7">
            <p class="logo text-xl">
                HealthFit
            </p>
        </div>
        
        <h1 class="text-6xl heading font-bold mt-4">
            Sweat, Smile <br/> and Repeat 
        </h1>
    
        <p class="text-lg mt-6 mr-6">
            Checkout the workout plans and start your fitness journey today.
        </p>
    
        <button class="button-3d bg-purple-100 text-[#F4CE14] p-2 font-bold rounded mt-10">
            <a routerLink="/explore" class="flex items-center gap-1">
                <i class="pi pi-compass" style="font-size: 1rem;"></i>
                Explore Workouts
            </a>
        </button>
    </div>

</div>
